<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="https://portal.mobilenig.com/dashboardStyles/img/logo.ico">

        <title>Miracle TC - Pricing</title>
        <style>
            .carouse {
                height: 500px;
                margin-bottom: 60px;
                }
            .carouse .iteme {
                height: 500px;
                background-color: rgba(16, 250, 8, 0.726);
            }
            table {font-family: Arial, Helvetica, sans-serif; border-collapse: collapse;width: 50%; text-align: center;}
            td, th{border: 1px solid #dddddd; text-align: left; padding: 8px;}
            tr:nth-child(even) {background-color: #dddddd;}
        </style>
    </head>
    <body>
    {% extends "data/base.html" %}
    {% load static %}

{% block header %}

    <div class="carouse slide">
        <div class="carousel-inner" role="listbox">
        <div class="iteme active">
          <img class="first-slide" src="#" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
                <h1>Our Prices</h1><br>
              <h4>Experience You Can Trust, Service You Can Count On</h4><br><br>
              <p><a style="color:white" class="btn btn-lg btn-success" href="{% url 'account:signup' %}" role="button">Get Started  </a>  <a style="color:white" class="btn btn-lg btn-primary" href="{% url 'account:login' %}" role="button">  Log In</a></p>
            </div>
          </div>
        </div>
        </div>
    </div>

{% endblock header %}

{% block content %}
<div style="text-align:center; color: black; font-size: large;">
<h2>Data Pricing</h2><br>
<div class="col-lg-3 sidebar-module sidebar-module-inset">
<div style="background-color: yellow;"><h3><br><b>MTN</b><br><br></h3></div><br>
<p>500MB - #50<br><br>1GB - #100<br><br>2GB - #200<br><br>5GB - #500<br><br>10GB - #1000<br><br>Check Balance: *461*4#<br><br></p>
</div><br>
<div class="col-lg-3 sidebar-module sidebar-module-inset">
<div style="background-color: green;"><h3><br><b>GLO</b><br><br></h3></div><br>
<p>1GB - #100<br><br>2GB - #200<br><br>5GB - #500<br><br>10GB - #1000<br><br>20GB - #2000<br><br>Check Balance: *127*0#<br><br></p>
</div><br>
<div class="col-lg-3 sidebar-module sidebar-module-inset">
<div style="background-color: blue;"><h3><br><b>9mobile</b><br><br></h3></div><br>
<p>1GB - #75<br><br>2GB - #210<br><br>3GB - #325<br><br>4GB - #450<br><br>5GB - #585<br><br>Check Balance: *229*9#<br><br></p>
</div><br><br>
<div class="col-sm-12">
<table height="300" align="center">
    <thead><h2>Other Products</h2></thead><br><br>
    <thead><h3>Bills Payment</h3></thead>
    <tr>
        <th>Bill</th>
        <th>Discount</th>
    </tr>
    <tr>
        <td>DSTV</td>
        <td>10%</td>
    </tr>
    <tr>
        <td>GOTV</td>
        <td>8%</td>
    </tr>
    <tr>
        <td>STARTIMES</td>
        <td>5%</td>
    </tr>
</table>
<table height="500" align="center">
    <br><br><br><br><br>
    <thead><h3>Airtime Discount</h3></thead>
    <tr>
        <th>Network</th>
        <th>Discount</th>
    </tr>
    <tr>
        <td>MTN</td>
        <td>5%</td>
    </tr>
    <tr>
        <td>MTN PREMIUM</td>
        <td>10%</td>
    </tr>
    <tr>
        <td>GLO</td>
        <td>10%</td>
    </tr>
    <tr>
        <td>GLO PREMIUM</td>
        <td>20%</td>
    </tr>
    <tr>
        <td>AIRTEL</td>
        <td>7%</td>
    </tr>
    <tr>
        <td>AIRTEL PREMIUM</td>
        <td>15%</td>
    </tr>
    <tr>
        <td>9MOBILE</td>
        <td>5%</td>
    </tr>
    <tr>
        <td>9MOBILE PREMIUM</td>
        <td>10%</td>
    </tr>
</table>
</div>
<br><br>
</div>
<div class="col-sm-12">
<footer style="max-width: 100%;" class="w3l-project">
<style>
    .w3l-project {
      background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) );      
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      max-width: 100%;
      color: white;
      -webkit-background-size: cover;
      -o-background-size: cover;
      -moz-background-size: cover;
      -ms-background-size: cover;
    }
  </style>
      <div class="container">
          <div class="col-lg-4">
            <a class="navbar-brand" href="#"><h3>MIRACLE TC</h3></a><br><br><br><br>
            <p>Owned by Peter Olayemi, offers best deals when it comes to internet Data Plans, Bills payment like GOTV, DSTV &amp; STARTIMES.</p>
          </div>
  
          <div class="col-lg-4">
            <h3>CONTACT INFO </h3>
            <p>Address : Michael Street, Mushin, Lagos, Nigeria</p>
            <p>Customer Support : <a href="tel:08030896456">08030896456</a></p>
            <p>Email : <a href="mailto:helpdesk@miracletc.com">helpdesk@miracletc.com</a></p>
          </div>

          <div class="col-lg-2">
            <ul>
              <h3>PRODUCTS</h3>
              <li><a href="{% url 'user:buydata' %}">Data Subscription</a></li>
              <li><a href="{% url 'user:bill' %}">Bills Payment</a></li>
              <li><a href="{% url 'user:buyairtime' %}">VTU Recharge</a></li>
            </ul>
          </div>
  
          <div class="col-lg-2">
            <ul>
              <h3>COMPANY</h3>
              <li><a href="{% url 'data:about' %}"> About Company</a></li>
              <li><a href="{% url 'data:contact' %}">Get In Touch</a><br><a href="https://play.google.com/store/apps/details?id=com.twitter.android"><img src="{% static 'app.png' %}" alt="Generic placeholder image" width="100" height="50"></a></li>
              </ul>
          </div>
  
        </div>
    <!-- copyright -->
<br><br>
      <div class="container" style="text-align:center">
        <p>&copy; PeterCodes &middot;</p>
      <p style="position: fixed; bottom: 10px; left: 10px;"><a href="https://wa.me/08030896456"><img src="{% static 'wa.png' %}" alt="Generic placeholder image" width="70" height="70"></a></p>	  

        <p><a href="#">Back To Top</a></p>
      </div>
</footer>
</div>
</body>
{% endblock content %}
