{% extends "user/base.html" %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" rel="stylesheet">
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="icon" type="image/png" href="https://portal.mobilenig.com/dashboardStyles/img/logo.ico">

    <title>Miracle TC - Buy Airtime</title>
    </head>
<body>

{% block content %}
<div style="background-color:black; color: white;">
<br><br><div style="font-size: 25px; padding-left: 50px;">CableTV</div><br><div style="padding-left: 50px;"><a style="color: lightblue;" href="{%url 'user:dashboard'%}">Dashboard /</a> <a style="color: lightblue;" href="#">CableTV</a><br></div></div><br>
<div class="alert alert-success alert-dismissible" style="text-align:center;font-size: larger;">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <p><b>Service Provider's Number</b><br><br>You can contact DSTV/GOTV's customer care unit on 01-2703232/08039003788 or the toll free lines: 08149860333, 07080630333, and 09090630333 for assistance, Startimes's customer care unit on 094618888</p>
</div>
<form method="POST" id="CableForm" data-plans-url="/user/load_cable_plans/" novalidate>
<div class="col-md-11 sidebar-module sidebar-module-inset" >
<h3>Pay Bill</h3><br><br>
    {% if msg %}
        {{msg}}<br><br>
    {%endif%}
    {% csrf_token %}
    {{form.as_p}}<br>
    <div style="max-width: fit-content;">
    <button  class="btn btn-success" onclick="saybuy()">Pay</button>

    </div>
</div>
</form><br><hr><br>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#id_service").change(function () {
      var url = $("#CableForm").attr("data-plans-url");  // get the url of the `load_cities` view
      var serviceId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'service': serviceId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_plan").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
  </script>
<div class="col-lg-12">
<h3>Payment Transaction History</h3><br>
<table height="300" align="center">
    <tr>
        <th>Date</th>
        <th>Transaction ID</th>
        <th>Service</th>
        <th>Card Number</th>
        <th>Status</th>
    </tr>

{% for air in air %}
    <tr>
        <td>{{ air.date }}</td>
        <td>{{ air.uuid }}</td>
        <td><br><br><br><br>{{ air.plan}}</td>
        <td><br>{{ air.card_number }}</td>
        <td>{{ air.status }}</td>
    </tr>
{%empty%}
<p>No transaction at the moment</p>
{%endfor%}
</table>

</div>
<br><hr><br>
<div class="col-lg-12" style="padding-left:60px;"><a href="{% url 'account:term'%}" style="color: blue;">Terms Of Service || </a> <a href="{% url 'account:privacy'%}" style="color: blue;">Privacy Policy || </a> <a href="{% url 'data:contact'%}" style="color: blue;">Contact</a><div style="text-align:right">Miracle TC Digital Services</div></div>
</body>
{% endblock%}
