{% extends "user/base.html" %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" rel="stylesheet">
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="icon" type="image/png" href="https://portal.mobilenig.com/dashboardStyles/img/logo.ico">

    <title>Miracle TC - Fund Wallet</title>
    </head>

<body>

{% block content %}

<div style="background-color:black; color: white;">
<br><br><div style="font-size: 25px; padding-left: 50px;">Fund Wallet</div><br><div style="padding-left: 50px;"><a style="color: lightblue;" href="{%url 'user:dashboard'%}">Dashboard /</a> <a style="color: lightblue;" href="{%url 'user:fund'%}">Fund Wallet</a><br></div></div><br>
<div class="col-lg-11 sidebar-module sidebar-module-inset">
<p>Fill in the form below</p>
<form method="post">
{%csrf_token%}
Email: <input type="text" name="email" label="Email" id="email">
Amount: <input type="text" name="amount" label="Amount" id="amount">
<input type="submit" value="fund wallet">
</form>
</div><br><hr><br><br><br><br><br>
<div class="col-lg-12">
<h3>Wallet Funding Transaction History</h3><br>
{%if obj%}
<table border="1">
    <tr>
        <th>Date</th>
        <th>Transaction ID</th>
        <th>Amount</th>
        <th>Action</th>
    </tr>

{% for data in obj %}
    <tr>
        <td>{{ data.date_created }}</td>
        <td>{{ data.ref }}</td>
        <td>₦{{ data.amount }}</td>
        <td>{% if data.queried == True %}<span>Queried</span>{% else %}<a href="{% url 'user:queryfund' data.pk %}" onclick="sayquery()" class="btn btn-danger">Query</a>{% endif %}</td>
    </tr>
{%endfor%}
</table>
{%else%}
<h3 style="padding-left: 100px;">You Have no wallet funding history with Miracle TC</h3><br><hr><br>
{%endif%}
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div style="padding-left:60px;"><a href="{% url 'account:term'%}" style="color: blue;">Terms Of Service || </a> <a href="{% url 'account:privacy'%}" style="color: blue;">Privacy Policy || </a> <a href="{% url 'data:contact'%}" style="color: blue;">Contact</a><div style="text-align:right">Miracle TC Digital Services</div></div>
</body>
{% endblock%}
