{% extends "user/base.html" %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" rel="stylesheet">
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="icon" type="image/png" href="https://portal.mobilenig.com/dashboardStyles/img/logo.ico">

    <title>Miracle TC - Profile</title>
    </head>
<body>

{% block content %}
<div style="background-color:black; color: white;">
<br><br><div style="font-size: 25px; padding-left: 50px;">Profile</div><br><div style="padding-left: 50px;"><a style="color: lightblue;" href="{%url 'user:dashboard'%}">Dashboard /</a> <a style="color: lightblue;" href="{%url 'account:profile'%}">Profile</a><br></div></div><br>
<div class="col-lg-6 sidebar-module sidebar-module-inset">
<h3>Profile Settings</h3>
<div style="background-color: crimson;"><hr>
<a href="#" style="color:white; padding-left: 50px;">Profile</a><hr></div>
<a href="{% url 'password_change' %}" style="padding-left: 50px; color: blue;">Change Password</a><hr>
</div><br><hr><br>
<div class="col-lg-11">
<h3>User Information</h3><hr>
Username:{{user.username|title}}<hr>
Registered Phone Number: {% for users in data %}{{users.whatsapp_enabled_phone_number}}{%endfor%}<hr>
Emaill: {{user.email}}<hr>
Date Of Birth: {% for users in data %}{{users.date_of_birth}}{%endfor%}<hr>
Address: {% for users in data %}{{users.home_address|title}}{%endfor%}<hr>
Wallet: ₦{% for users in data %}{{users.balance}}{%endfor%}<hr>
</div>
<br><hr><br>
<div class="col-lg-12" style="padding-left:60px;"><a href="{% url 'account:term'%}" style="color: blue;">Terms Of Service || </a> <a href="{% url 'account:privacy'%}" style="color: blue;">Privacy Policy || </a> <a href="{% url 'data:contact'%}" style="color: blue;">Contact</a><div style="text-align:right">Miracle TC Digital Services</div></div>
</body>
{% endblock%}
